# Variables and Data Structures in Python
- Boolean
- Boolean and Logical Operators
- Comparision operators
- Data structures (Lists, Dictionaries, Tuples, Sets)

## Boolean Variables
Boolean values are the two constant objects i.e. **True** and **False**.

They are used to represent truth values. In numeric context, they behave like the integers **1** and **0** respectively for True and False.

The built-in function **bool()** can be used to cast any value to a Boolean, if the value can be interpreted as a truth value.

In [1]:
True

True

In [2]:
False

False

In [3]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
demo_str = "Data Science is continuous learning process."

In [6]:
demo_str.isalnum() # check if all char are numbers

False

In [7]:
demo_str.isalpha() # check if all char in the string are alphabetic

False

In [8]:
demo_str.isdigit() # check if string contain digits

False

In [9]:
demo_str.istitle() # if string contain title words

False

In [10]:
print(demo_str.isupper()) # if string contain upper case

False

In [11]:
demo_str.islower()

False

In [12]:
demo_str.startswith('d')

False

In [13]:
demo_str.endswith('.')

True

## Boolean and Logical Operators

In [14]:
True and True

True

In [15]:
True and False

False

In [16]:
True or True

True

In [17]:
True or False

True

In [18]:
str1 = 'Welcome'
str2 = 'scholar'


str1.isalpha() or str2.isnum() #True or False

True

## Lists
A list is a data structure , that is a mutable or changeable, ordered sequence of elements. 

Each element or value that is inside of a list is called as item.

Lists are defined by having values between square brackets[].

In [19]:
type([])

list

In [20]:
a = []
type(a)

list

In [21]:
b = list()
type(b)

list

In [22]:
c = ['Data Science',40,'Nepal']
type(c)

list

### Indexing in list

In [23]:
c[0]

'Data Science'

### Append
append is used to add elements in the list

In [24]:
c.append(34.45)

In [25]:
c

['Data Science', 40, 'Nepal', 34.45]

In [26]:
c.append(["Data Scientist","Code"])  # Nested List

In [27]:
c

['Data Science', 40, 'Nepal', 34.45, ['Data Scientist', 'Code']]

### Insert
insert in a specific order

In [28]:
c.insert(2,"Riddi K. Shrestha")

In [29]:
c

['Data Science',
 40,
 'Riddi K. Shrestha',
 'Nepal',
 34.45,
 ['Data Scientist', 'Code']]

In [30]:
c[2]

'Riddi K. Shrestha'

In [31]:
c[:]

['Data Science',
 40,
 'Riddi K. Shrestha',
 'Nepal',
 34.45,
 ['Data Scientist', 'Code']]

In [32]:
c[1:]

[40, 'Riddi K. Shrestha', 'Nepal', 34.45, ['Data Scientist', 'Code']]

In [33]:
c[2:4]

['Riddi K. Shrestha', 'Nepal']

### Extend
add list of element as separate element

it will not create multi nested list as it did with **append()** above

In [34]:
d = [1,2,3,4,5,6]

In [35]:
d.extend(['Riddhi','Kumar','Shrestha'])

In [36]:
d

[1, 2, 3, 4, 5, 6, 'Riddhi', 'Kumar', 'Shrestha']

### Operations in List

In [37]:
e = [1,2,3,4,5,6]

In [38]:
e*3               # 3 times appended list

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [39]:
sum(e)

21

In [40]:
max(e)

6

In [41]:
min(e)

1

#### Pop() method

In [42]:
e.pop()   # it will pop(delete) last element in the list

6

In [43]:
e

[1, 2, 3, 4, 5]

In [44]:
e.pop(1)

2

In [45]:
e

[1, 3, 4, 5]

#### count()
count total occurance of element in the list

In [46]:
f = [0,2,1,3,4,4,5,9,2,3,1]
f.count(1)

2

#### length
calculate total length of list

In [47]:
len(f)

11

#### index()
returns the index of occurence

start and end index are not required parameters

In [48]:
f.index(1,0,7)  # value, start_index,end_index to be search

2

# Set
A set is an unordered collection data type that is iterable, mutable and has no duplicate elements.

Python's set class represents the mathemetical notation of a set. That is based on a data structure known as a hash table.

Set element is defined in **{}** curly brackets.

In [49]:
set_one = set()
print(set_one)
print(type(set_one))

set()
<class 'set'>

In [50]:
set_one = {"Machine Learning","Computer Vision","Deep Learning","NLP","Computer Vision","NLP"}
print(set_one)  # You can see that results only print unique value in set, dublicate is shown once
type(set_one)

{'Deep Learning', 'Computer Vision', 'NLP', 'Machine Learning'}

set

## Inbuild functions

In [51]:
# Indexing is not available in set
set_one[0]

TypeError: 'set' object is not subscriptable

In [ ]:
set_one.add("Supervised Learning")

print(set_one)

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}

In [ ]:
# Set intersection
set1.intersection(set2)

In [ ]:
# Set union
set1.union(set2)

In [ ]:
# Set difference
set2.difference(set1)

In [ ]:
print(set2)    # Not updated in set2

In [ ]:
## Difference update; which is used to update in the set
set2.difference_update(set1)

In [ ]:
print(set2)

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed.

In python, dictionaries are written with curly brackets and they have **keys and values**.

In [ ]:
dic = {}
type(dic)

In [ ]:
dic = {1,2,3,4,5}
type(dic)

In [ ]:
dic = {"one":1,"two":2,"three":3,"four":4}
type(dic)

In [ ]:
#dic = dict()
type(dict())

In [ ]:
# Access the item values based on keys
dic["one"]

In [ ]:
# Loop throughout the dictionary keys
for x in dic:
    print(x)

In [ ]:
# Loop thooughout the dictionary values
for x in dic.values():
    print(x)

In [ ]:
# Loop thoroughout and check both keys and values
for x in dic.items():
    print(x)

In [52]:
# Loop throughout the dictionary to show value respective of its keys
for x in dic:
    print(x, ':',dic[x])

NameError: name 'dic' is not defined

In [ ]:
# Add item in the dictionary
dic['five'] = 5

In [ ]:
dic

In [ ]:
# try to enter value on existing key
dic['one']=6

In [ ]:
dic

### Nested Dictionary

In [53]:
dic1 = {'progamming1':'Assembly Language'}
dic2 = {'programming2':'C'}
dic3 = {'programming3':'Python'}

programming_type = {'program1':dic1,'program2':dic2,'program3':dic3}
print(programming_type)

{'program1': {'progamming1': 'Assembly Language'}, 'program2': {'programming2': 'C'}, 'program3': {'programming3': 'Python'}}

In [54]:
# Indexing
print(programming_type['program1'])

{'progamming1': 'Assembly Language'}

In [55]:
print(programming_type['program1']['progamming1'])

Assembly Language

# Tuple
Tuple is not mutable data structure.

To declare tuple elements, use **()** brackets

In [56]:
t = tuple()
type(t)

tuple

In [57]:
t = ()
type(t)

tuple

In [58]:
t = ("Machine Learning","Deep Learning","NLP")

In [59]:
t[0]

'Machine Learning'

In [60]:
# Try to replace first element
t[0] = 'LSTM'

# We cannot perform item assignment in tuple but we can replace whole tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
# TUPLE is used in such program where definition of item is required for just one time. You cann't perform operation on it.

In [ ]:
print(type(t))
print(t)

### Inbuild function

In [ ]:
t.count('NLP')

In [ ]:
t.index('NLP')

# Function
- Why required functions.
- Function definition
- Positional and Keywords arguments in functions

In [61]:
# suppose we have to write logic to check given number is odd or even
number = int(input("Enter your number? "))

if number %2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter your number? 12
The number is even.

In [62]:
def even_odd(number):
    if number %2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")

In [63]:
even_odd(24)

The number is even.

In [64]:
# Difference between print vs return
def hello_coder():
    print("Welcome to coding session")

In [65]:
hello_coder()

Welcome to coding session

In [66]:
a = hello_coder()

Welcome to coding session

In [67]:
print(a)

None

In [68]:
# Here 'None' means that this function doesnot return anything

In [69]:
def hello_coder():
    return "Welcome to coding session"

In [70]:
a = hello_coder()

In [71]:
print(a)

Welcome to coding session

In [72]:
def add_num(n1,n2):
    return n1+n2

In [73]:
sum=add_num(2,3)

In [74]:
sum

5

In [75]:
# Positional vs Keyword Argument

# The parameter that define in function definition and if you didn't assign any value then it become positonal argument.
# If we provide prameter in key and value pair then it is keyword argument.

def my_information(name,age=27):
    print("My name is {} and age is {} year.".format(name,age))

In [76]:
my_information("Riddhi")

My name is Riddhi and age is 27 year.

In [77]:
my_information()

TypeError: my_information() missing 1 required positional argument: 'name'

In [78]:
# Alternate way to define positonal and keyword arguments
def my_data(*args,**kwargs):  # *args is positonal argument and **kwargs is keyword arguemnts
    print(args)
    print(kwargs)

In [79]:
my_data("Riddhi","Kumar","Shrestha",age=27,address='LALBANDI')

('Riddhi', 'Kumar', 'Shrestha')
{'age': 27, 'address': 'LALBANDI'}

In [80]:
lst = ['Riddhi', 'Kumar', 'Shrestha']
dict_args = {'age': 27, 'address': 'LALBANDI'}

In [81]:
#my_data(lst,dict_args)  # It will mismatch the parameters,it take both as args
my_data(*lst,**dict_args)

('Riddhi', 'Kumar', 'Shrestha')
{'age': 27, 'address': 'LALBANDI'}

In [82]:
# Return two values from function
list1 = [1,2,3,4,5,6,7]

In [83]:
def oddevensum(list):
    even_sum = 0
    odd_sum = 0
    for i in list:
        if i %2 == 0:
            even_sum +=i
        else:
            odd_sum +=i
    return even_sum,odd_sum

In [84]:
oddevensum(list1)

(12, 16)

# Lambda Function
anonymous function

function with no name

Lambda function is useful if function have single line of logic or expression

In [85]:
def add(x,y):
    return x+y

In [86]:
add(4,5)

9

In [87]:
# In the add function it just have single line logic to add two number so it is best to use lambda for such condition
add = lambda x,y:x+y

In [88]:
add(4,5)

9

In [89]:
# Check if given number is even or not
even2 = lambda x:x%2==0

In [90]:
even2(4)

True

In [91]:
# Addition of three numbers
add = lambda x,y,z:x+y+z

In [92]:
add(3,4,5)

12

# MAP,FILTER,REDUCE

## Map Function
map function is used to apply function to list of every element without using any loop or multiple iteration

It is used to change to every element.

In [93]:
def odd_even(number):
    if number % 2 == 0:
        return "The number {} is even".format(number)
    else:
        return "The number {} is odd".format(number)

In [94]:
odd_even(23)

'The number 23 is odd'

In [95]:
# Suppose we want same function to list of element
lst = [1,2,3,4,5,6,7,8,9,24,56,78]

In [96]:
map(odd_even,lst)  # lazzy loading technique: memory location

In [97]:
list(map(odd_even,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 24 is even',
 'The number 56 is even',
 'The number 78 is even']

## Filter Function
Filter function filter the element from list according to function's logic, it will only return the exact result as list.

In [98]:
def evenfun(number):
    if number %2 == 0:
        return True

In [99]:
lst = [1,2,3,4,5,6,7,8,9,0]

In [100]:
list(filter(evenfun,lst))

[2, 4, 6, 8, 0]

In [101]:
# we can use lambda function instead of whole function to pass in filter.
list(filter(lambda number:number%2==0,lst))

[2, 4, 6, 8, 0]

In [102]:
# Similarly for map function too
list(map(lambda number:number%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]

In [103]:
# Example
nums = [3,2,6,8,6,2,9]

evens = list(filter(lambda n:n%2==0,nums))
print(evens)

doubles = list(map(lambda n:n*2,evens))

print(doubles)

[2, 6, 8, 6, 2]
[4, 12, 16, 12, 4]

## Reduce Function

Instead of having multiple value, what if we want one value or aggregated value as result like sum of list of numbers, average of numbers etc

In [104]:
from functools import reduce

sum = reduce(lambda x,y:x+y,doubles)
print(sum)

48

# Eval Function - Evaluating Expressions Dynamically
Eval function evaluate python expression which are written as strings

In [105]:
# Python expression
7*7

49

In [106]:
eval("7*7")

49

In [107]:
eval("5*5+7/3")

27.333333333333332

In [109]:
eval(input("Enter the python expression"))

Enter the python expression5*5

25

In [110]:
def square_num(num):
    return num**2

In [111]:
eval("square_num(2)")

4

### How does eval works?
- Parse python expression
- Compile into a byte code
- Evalutate the python expression
- It will return the result

In [112]:
# compile function will perform all the above steps
var1 = compile("4*4","<string>","eval")

In [113]:
var1

In [114]:
eval(var1)

16

In [115]:
#### Globals variable
x = 10
eval("x+50+x**2",{"x":x})

160

In [116]:
x = 20
y = 30
eval("x+y",{"x":x,"y":y})

50

In [117]:
x = 20
y = 30
eval("x+y")

50

In [118]:
#eval("expression",{globals},{locals})
eval("a+b+c",{},{"a":100,"b":200,"c":300})

600

In [119]:
a=100
b=200
eval("a<b")

True

# List Comprehension
List comprehension provide a concise way to create lists. 

It consists of [] brackets containing an expression followed by a for clause,then zero or more for or if clauses.

The expression can be anything, meaning you can put in all kinds of objects in lists.

In [120]:
lst1 = []
def square_lst(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [121]:
square_lst([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [122]:
# TIME COMPLEXITY IS HIGH IN ABOVE LOGIC FOR DOING SIMPLE LOGIC

In [123]:
lst = [1,2,3,4,5,6,7]

In [124]:
#[return_expression #for_clause]
[i*i for i in lst]

[1, 4, 9, 16, 25, 36, 49]

In [125]:
lst1 = [i*i for i in lst]
print(lst1)

[1, 4, 9, 16, 25, 36, 49]

In [126]:
# Exercise: Square of even number only?
lst2 = [i*i for i in lst if i %2 == 0]
print(lst2)

[4, 16, 36]

# String Formatting

In [127]:
# .format()
def hello(name):
    return "Hello {} !!".format(name)

In [128]:
hello("Riddhi")

'Hello Riddhi !!'

In [129]:
def welcome_home(name,age):
    return "Welcome {n1}. Age is {a1}".format(a1=age,n1=name)

In [130]:
welcome_home("Riddhi",27)

'Welcome Riddhi. Age is 27'

# IS Vs ==

In [131]:
lst1 = ["Riddhi","Prem","Lalbandi"]
lst2 = ["Riddhi","Prem","Lalbandi"]

In [132]:
# Here lst1 and lst2 will take different memory location with same list element on it
# It will try to compare values of each lst not memory location.
lst1 == lst2

True

In [133]:
lst1 is lst2

False

In [134]:
lst1 = ["Riddhi","Prem","Lalbandi"]
lst2 = lst1     # Here lst1 have store element is some memory location and the same memory is provided to lst2, so lst1 and lst2 is equal in this case

In [135]:
lst1 is lst2

True

In [136]:
# Let's check mutability
lst2[0]

'Riddhi'

In [137]:
lst2[0]="Sarlahi"

In [138]:
lst2

['Sarlahi', 'Prem', 'Lalbandi']

In [139]:
# What will happen to lst1?
lst1

['Sarlahi', 'Prem', 'Lalbandi']

# Deep Copy vs Shallow Copy

###  = , copy() , deepcopy()

In [140]:
lst1 = [1,2,3,4,5]
lst2 = lst1 # Assigned lst1 to lst2

In [141]:
lst1,lst2

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [142]:
lst2[1] = 777

In [143]:
lst2

[1, 777, 3, 4, 5]

In [144]:
lst1

[1, 777, 3, 4, 5]

# Here we found that lst2[1] element is updated to 777; we saw that lst1[1] is also be update
# This is due to that we have just assigned lst1 to lst2 and lst1 will be stored on some memeory location so lst2 is just assigned lst1 so lst2 also be pointed to same address location as lst1
# so both lst2 and lst1 is refrencing to same memory location

In [145]:
##Copy
## Shallow copy
lst1 = [1,2,3,4,5]
lst2 = lst1.copy()

In [146]:
lst2

[1, 2, 3, 4, 5]

In [147]:
# Due to .copy() operation; it will be going to make different memory location.
# It not just going to reference same memory location
lst2[2] = 777

In [148]:
# Both have differnet memroy location here
lst2,lst1

([1, 2, 777, 4, 5], [1, 2, 3, 4, 5])

In [149]:
## Shallow copy nested list
lst1 = [[1,2,3,4,5],[6,7,8,9]]
lst2 = lst1.copy()

In [150]:
lst1

[[1, 2, 3, 4, 5], [6, 7, 8, 9]]

In [151]:
lst2

[[1, 2, 3, 4, 5], [6, 7, 8, 9]]

In [152]:
lst1[1][0]=100

In [153]:
lst1

[[1, 2, 3, 4, 5], [100, 7, 8, 9]]

In [154]:
lst2

[[1, 2, 3, 4, 5], [100, 7, 8, 9]]

# But in case of nested list, it will reflect to both list; because, it is refereing to the same object inside the nested list

In [155]:
# If we use append() to append list element 
lst1.append([111,222,333,444])

In [156]:
lst1

[[1, 2, 3, 4, 5], [100, 7, 8, 9], [111, 222, 333, 444]]

In [157]:
lst2

[[1, 2, 3, 4, 5], [100, 7, 8, 9]]

# This item [111,222,333,444] will not copied or reflected.
# But if you are making changes on the object that is present inside the list, at that time it will defenetly make changes.

# When we create nested list the appended list will be consider as collection of items;
# inside it , we have various object or items [111,222,333,444], this will be refered by both lst1 and lst2
# But when we have multiple items like [[1,2,3,4,5],[100,7,8,9]]
# When i am adding suppose one item [111,222,333,444] at that time the same thing wil not get refered in othe list

In [158]:
## Deep Copy
import copy
lst1 = [1,2,3,4]
lst2 = copy.deepcopy(lst1)

In [159]:
lst2

[1, 2, 3, 4]

In [160]:
lst2[1] = 100

In [161]:
lst2

[1, 100, 3, 4]

In [162]:
lst1

[1, 2, 3, 4]

In [163]:
## In 1D list i.e not nested list; shallow copy == deep copy

In [164]:
## shallow copy != deep copy
lst1 = [[1,2,3],[3,4,5],[5,6,7]]
lst2 = copy.deepcopy(lst1)

In [165]:
lst2

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [166]:
lst2[1][0]

3

In [167]:
lst2[1][0] = 1000

In [168]:
lst2

[[1, 2, 3], [1000, 4, 5], [5, 6, 7]]

In [169]:
lst1

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [170]:
# Now we do everything in separte memory loction; i.e is differnce between shallow copy and deep copy

# Iterables vs Iterators

In [171]:
# List is iterable 
# when we initialize list then all the element are allocated in memory location
# when we iterating means that we iterating through memory allocation


lst = [1,2,3,4,5,6,7]

for i in lst:
    print(i)

1
2
3
4
5
6
7

If we convert list into iter,all the value will not initalize in memory, unless and until we didn't call inbuild function 'Next'
Once we called 'Next', then only that first element i.e present inside iterator will initalize in memory

In [172]:
lst1=iter(lst)

In [173]:
lst1

We can't see all the element at once, bcoz memory is not inialize for for lst1 iterator element.

To see the element, we can use next(), one by one element is initalize while we use next()

In [174]:
next(lst1)

1

In [175]:
next(lst1)

2

In [176]:
# Alternate way to reterive iterator, exeception is already handle by for loop internally
for i in lst1:
    print(i)

3
4
5
6
7

In [177]:
# Advantage to use iterator is memory management, initally iterator doesn't initalize memroy.
# It only initalize only when we use next() inbuild function, and initalize one by one.

## Iterators Vs Generator

In [178]:
## Iterable
lst = [2,3,4,5,6]
for i in lst:
    print(i)

2
3
4
5
6

In [179]:
### Iterator
iterable = iter(lst)

In [180]:
type(iterable)

list_iterator

In [181]:
# We can iterate use for loop
for i in iterable:
    print(i)

2
3
4
5
6

In [182]:
iterable   # Dynamic memory cell or location

In [183]:
# Other way to iterate is next()
next(iterable)

StopIteration:

In [184]:
# As soon the item is finished to iterate by using next() function, we will face exception
# exection didn't handle with next() function but it is handled with for loop

Create Generator which is useful to create iterator itself

In [185]:
### Generator
def square(n):
    for i in range(n):
        return i**2

In [186]:
square(4)

0

In [187]:
# If we replace return with yield; it will first convert entire
# function to iterator but it is a kind of generator
def square(n):
    for i in range(n):
        yield i**2

In [188]:
square(4)

In [189]:
# Yield keyword will not just only return with respect to one iteration,
# It will return to all the iteration present over there and saving that paritcular values(local values)
for i in square(4):
    print(i)

0
1
4
9

In [190]:
a = square(4)
a

In [191]:
next(a)

0

### Basic difference between iterator and generator
1. To create iterator we use **iter()** and to create generator we use **function** along with yield keyword
2. Generator uses the **yield** keyword . it saves the local variables value.  
3. Generator in python helps us to write fast and compact code.
4. Python iterator is much more memroy efficient.

In [192]:
import types,collections

In [193]:
issubclass(types.GeneratorType,collections.Iterator)

/tmp/ipykernel_3035/42433931.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.10 it will stop working
  issubclass(types.GeneratorType,collections.Iterator)

True

Generator is also iterator, it is inheriting from Iterator class itself.